<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>[[${pageTitle}]]</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>
	<div class="container-fluid text-center">
		<div>
			<img th:src="@{/images/ShopmeAdminBig.png}" />
		</div>

		<form th:action="@{/login}" method="post"
			style="max-width: 350px; margin: 0 auto">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>

			<div th:if="${param.logout}">
				<p class="text-warning">You have been logged out.</p>
			</div>

			<div class="border border-secondary rounded p-3">
				<p>Access to ShopmeControl Panel</p>
				<p>
					<input type="email" name="email" class="form-control"
						placeholder="E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control"
						placeholder="Password" required />
				</p>
				<p>
					<input type="checkbox" name="remember-me" />Remember Me
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary" />
				</p>
			</div>
		</form>

		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>

	</div>

</body>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('#buttonCancel').on("click", function() {
							window.location = "[[@{/users}]]";
						});

						$("#fileImage")
								.change(
										function() {
											fileSize = this.files[0].size;
											if (fileSize > 1048576) {
												this
														.setCustomValidity("You must choose an image less than 1MB!");
												this.reportValidity();
											} else {
												this.setCustomValidity("");
												showImageThumbnail(this);
											}
										});
					});

	function showImageThumbnail(fileInput) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#thumbnail").attr("src", e.target.result);
		};

		reader.readAsDataURL(file);
	}

	function checkEmailUnique(form) {
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		userId = $("#id").val();
		csrfValue = $("input[name='_csrf']").val();

		params = {
			id : userId,
			email : userEmail,
			_csrf : csrfValue
		};

		$
				.post(
						url,
						params,
						function(response) {
							if (response == "OK") {
								form.submit();
							} else if (response == "Duplicated") {
								showModalDialog("Warning",
										"There is another user having the email "
												+ userEmail);
							} else {
								showModalDialog("Error",
										"Unknown response from server");
							}
						}).fail(
						function() {
							showModalDialog("Error",
									"Could not connect to the server");
						});

		return false;
	}

	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>

</html>